################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


Samples/Samples.Common/appsettings.json
